<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>E-Commerce</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
</head>
<body>

<h1>E-Commerce</h1>

<div class="container mt-4">
    <div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form th:action="@{/products}" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addProductModalLabel">Add New Product</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="productName" class="form-label">Name</label>
                            <input type="text" class="form-control" id="productName" name="name" required>
                        </div>
                        <div class="mb-3">
                            <label for="productPrice" class="form-label">Price</label>
                            <input type="number" class="form-control" id="productPrice" name="price" required>
                        </div>
                        <div class="mb-3">
                            <label for="productImage" class="form-label">Image URL</label>
                            <input type="text" class="form-control" id="productImage" name="imageUrl" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save Product</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <table class="table table-striped">
        <div class="d-flex justify-content-between">
            <h1>Manage Products</h1>
            <div>
                <button type="button" class="btn btn-danger" th:onclick="'deleteAllProducts()'">Delete</button>
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addProductModal">
                    Add New Product
                </button>
            </div>
        </div>
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="productDTO : ${products}" th:id="${productDTO.id}">
            <td th:text="${productDTO.name}"></td>
            <td th:text="${productDTO.price}"></td>
            <td><img th:src="${productDTO.imageUrl}" th:alt="${productDTO.name}"
                     style="width: 100px; height: 100px; object-fit: cover;"></td>
            <td>
                <button type="button" class="btn btn-danger" th:onclick="'deleteProductById(' + ${productDTO.id} + ')'">
                    <i class="fa-solid fa-trash"></i>
                </button>
                <button type="button" class="btn btn-primary" th:onclick="'editProduct(' + ${productDTO.id} + ')'">
                    <i class="fa-solid fa-pen-to-square"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
<script th:src="@{/js/main.js}"></script>
</body>

</html>